@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Spartan", sans-serif;
  outline: 0;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Spartan", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiTypography-root {
  font-family: "Spartan", sans-serif !important;
}
